<div class="main">

    <section class="page-header-section ptb-100 gradient-overly-right"
        style="background: url('assets/img/hero-bg5.jpg')no-repeat center center / cover">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-6">
                    <div class="page-header-content text-white">
                        <h1 class="text-white mb-2">Terms Of Service</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="" class="feature-tab-section ptb-60 white-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-12 pt-40 order-xl-first animate__animated animate__fadeInLeft">
                    <h5>Acceptance of Terms of Service</h5>
                    <p class="text-justify">These Terms of Service (this “Agreement”) govern your access to and use of
                        rackemail, Inc (“we”,
                        “our”, or “rackemail”) websites and services (the “Service” or “Services”). Please read this
                        Agreement carefully. By using any part of the Service, you acknowledge that you have read,
                        understood and agree to be legally bound by this Agreement.</p>

                    <p class="text-justify">We reserve the right to update or modify this Agreement from time to time by
                        posting updated
                        versions of the Agreement on the rackemail Website, or otherwise providing notice to you, and
                        may discontinue or revise any or all other aspects of the Service in our sole discretion. Except
                        as otherwise provided in the Agreement, all such changes shall become effective upon the posting
                        of the revised Agreement on the Service or at the rackemail Website. While we will endeavor to
                        provide direct notice to you of any changes, you are responsible for periodically checking the
                        Site to determine if any changes have been made and we are not liable for your failure to do so
                        or our failure to provide such direct notice to you. Your use of the Service following such
                        notification constitutes your acceptance of the terms and conditions of this Agreement as
                        modified. If at any time you do not agree to these terms and conditions, you must terminate your
                        use of the Service.</p>

                    <p class="text-justify">Only parties that can lawfully enter into and form legal contracts may use
                        the Service. By
                        accepting this Agreement, you represent and warrant that you are at least eighteen (18) years
                        old and may lawfully enter into and form binding legal contracts. If you are entering into this
                        Agreement on behalf of an organization (for example, your employer), you warrant and represent
                        that you are a duly authorized representative of such organization with the authority to enter
                        into binding contracts on behalf of such organization.</p>

                    <p class="text-justify">Rackemail reserves the right to use your Company name as a reference for
                        marketing or promotional
                        purposes on rackemail’s website and in other communication with existing or potential rackemail
                        customers. For example, we might list your company on one of our webpages under lists of
                        rackemail customers. We don’t want to list customers who don’t want to be listed, so you may
                        send an email to support@rackemail.com stating that you do not wish to be used as a reference.
                    </p>

                    <h5>The Service</h5>
                    <p class="text-justify">Rackemail provides web and mobile-based products and services primarily for
                        the needs of sales
                        individuals, teams, and organizations (the "Services" or “Service”) to manage workflows and
                        communicate with customers and potential customers. The Services are made available via the web
                        site located at www.rackemail.com and via our Chrome Plugin (the "Website") to users who have
                        rackemail accounts ("Users"). rackemail Users use our Services to communicate with and engage
                        their customers and prospects ("Prospects" or “Contacts”). Users can upload documents, customer
                        information, and other content ("Content") to the Website, in addition to information about
                        Prospects. Users can then share Content and communicate with Prospects in a variety of ways,
                        including via email, and phone through the Service. Users retain all rights to Content they
                        upload to the rackemail Service. rackemail will not use or modify Content except as necessary to
                        provide the Services, prevent or resolve service or technical problems, or in connection with
                        support matters. rackemail will not disclose User Content except as described in this privacy
                        policy or the agreement governing User’s use of our Services, or for purposes of allowing User
                        to share Content with Prospects via the Services.</p>

                    <p class="text-justify">The Service may not be used for the sending of unsolicited email (sometimes
                        called "spam") in
                        violation of applicable law or for the transmission of illegal or prohibited content.</p>

                    <h5>Payment</h5>
                    <p class="text-justify">To the extent any portion of the Service is made available for a fee, you
                        will be required to
                        select a payment plan and provide rackemail accurate information regarding your credit card or
                        other payment instrument. You will promptly update your account information with any changes in
                        your payment information. You agree to pay rackemail the amount that is specified in the
                        applicable payment plan in accordance with the terms set forth in the Service and this TOS, and
                        you authorize rackemail to bill your payment instrument in advance on a periodic basis in
                        accordance with such terms. If you dispute any charges you must let rackemail know within sixty
                        (60) days after the date that rackemail invoices you. All amounts paid are non-refundable and we
                        reserve the right to change our prices in the future. If we do change prices, we will provide
                        notice of the change on the Site or in email to you, at our option, at least 30 days before the
                        change is to take effect regarding your use of the Service. Your continued use of the Service
                        after the price change becomes effective constitutes your agreement to pay the changed amount.
                        rackemail may choose to bill through an invoice, in which case, full payment for invoices issued
                        must be received by the specified date or the Services may be terminated. Unpaid invoices are
                        subject to a finance charge of 1.5% per month on any outstanding balance, or the maximum
                        permitted by law, whichever is lower, plus all expenses of collection. You shall be responsible
                        for all taxes associated with Services other than U.S. taxes based on rackemail’s net income.
                    </p>

                    <h5>Your Data</h5>
                    <p class="text-justify">"Your Data" means any data and content stored or transmitted via the
                        Services by or on behalf of
                        you or your end users (which may include data you elect to import from third party services you
                        use). This includes messages you send, files you upload, comments on files, and anything else
                        you enter or upload into rackemail.</p>

                    <p class="text-justify">In order for us to provide the Service to you, we require that you grant us
                        certain rights with
                        respect to Your Data. For example, we need to be able to transmit, store and copy Your Data in
                        order to display it to you and your teammates, to index it so you are able to search it, to make
                        backups to prevent data loss, and so on. Your acceptance of this TOS gives us the permission to
                        do so and grants us any such rights necessary to provide the service to you. This permission
                        includes allowing us to use third-party service providers (such as Amazon Web Services, Heroku,
                        Salesforce, mongodb Cloud Atlas etc) in the operation and administration of the service and the
                        rights granted to us are extended to these third parties to the degree necessary in order for
                        the service to be provided.</p>

                    <p class="text-justify">You hereby (i) warrant and represent that you are the owner of, or have
                        permission from the
                        rightful owner of, all content furnished to us or uploaded or utilized by You or Your Users in
                        connection with the Service (collectively, the “Content”); and (ii) grant us a non-exclusive,
                        royalty-free, transferable license to use and display such Content, as necessary to provide the
                        Service. You retain all right, title and interest in and to the Content, except for the limited
                        license set forth above.</p>

                    <h5>Your Responsibilities</h5>
                    <p class="text-justify">You will be responsible for the accuracy, quality, integrity and legality of
                        Your Content and of
                        the means by which You acquired your Content. You will use commercially reasonable efforts to
                        prevent unauthorized access to or use of the Services, and notify rackemail promptly of any such
                        unauthorized access or use. You will be responsible for any third party products or services
                        used or exchanged by You in connection with the Services or any of your Content. You understand
                        and acknowledge that rackemail has no obligation to review your Content.</p>

                    <p class="text-justify">You will use the Services only for your internal business purposes and in
                        accordance with
                        applicable laws, rules and regulations. You are responsible for all of your activities that
                        occur within, through or as a result of your use of the Services. You agree that you will not
                        use the Services for unlawful purposes or to engage in any illegal, offensive, indecent or
                        objectionable conduct, including violation of any third party privacy or other rights.</p>

                    <p class="text-justify">The use of Services may be limited by criteria specified by us from time to
                        time. Some examples
                        of limitations are: number of unique users who can access rackemail, number of emails that can
                        be sent in any given period, number of Contacts that can be uploaded, number of days after which
                        visit data will be flushed etc.</p>

                    <p class="text-justify">As a User, you may upload personal data relating to Contacts/ or Prospects,
                        files, folders,
                        reports, documents in electronic form into the Service (the “Client Data”). rackemail is largely
                        unaware of what Client Data is actually being stored or made available to the Service and does
                        not directly access such Client Data except as authorized you, or as necessary to provide the
                        Services. Because rackemail does not collect or determine the use of any Personal Data contained
                        in the Client Data and because it does not determine the purposes for which such Personal Data
                        is collected, the means of collecting such Personal Data, or the uses of such Personal Data,
                        rackemail is not acting in the capacity of data controller in terms of the European Union’s
                        General Data Protection Regulation (Regulation (EU) 2016/679, hereinafter “GDPR”) and does not
                        have the associated responsibilities under the GDPR. rackemail should be considered only as a
                        processor on behalf of its Users as to any Client Data containing Personal Data that is subject
                        to the requirements of the GDPR.</p>

                    <p class="text-justify">If you need a signed Data Processing Addendum in addition to the Terms of
                        Service and Privacy
                        Policy, please contact support@rackemail.com for a copy of our DPA. The DPA incorporates
                        Standard Contractual Clauses (SCC) necessary to meet the requirements of the GDPR in order to
                        permit Users to lawfully transfer EU personal data to rackemail.</p>

                    <h6>You hereby warrant and represent that:</h6>
                    <ul class="disc-style">
                        <li>(i) you are the sole or designated "sender" (as such term is defined in the CAN-SPAM Act of
                            2003 and any rules adopted under such act (collectively, the “CAN-SPAM Act”)) of any email
                            message sent by you using the Service, and all messages you send using the Service will
                            comply with all requirements of the CAN-SPAM Act;</li>
                        <li>(ii) the Service will not be used for the sending of unsolicited bulk email (sometimes
                            called "spam") in violation of the CAN-SPAM Act or other applicable law;</li>
                        <li>(iii) the Service will only be used for lawful purposes;</li>
                        <li>(iv) you will not access or otherwise use third party mailing lists or otherwise prepare or
                            distribute unsolicited email, in connection with the Service, and you will import, access or
                            otherwise use only lists for which all listed parties have consented to receive
                            correspondence from you in connection with your use of the Service. Mere agreement of a
                            person or entity to participate in a survey or register for an event is not consent to
                            receive correspondence from you unrelated to such survey or event. You hereby covenant that
                            you shall not use any other lists in connection with your use of the Service;</li>
                        <li>(v) you acknowledge and agree that not all email messages sent through use of the Service
                            will be received by their intended recipients;</li>
                        <li>(vi) the "from" line of any email message sent by you using the Service will accurately and
                            in a non-deceptive manner identify your organization, your product or your service;</li>
                        <li>(vii) the "subject" line of any email message sent by you using the Service will not contain
                            any deceptive or misleading content regarding the overall subject matter of the email
                            message;</li>
                        <li>(viii) you will include in any email message sent by you using the Products your valid
                            physical address, if required by law, which may be a valid post office box meeting the
                            registration requirements established by the United States Postal Service. You are solely
                            responsible for all activities that occur in Your account(s) and for the security of all of
                            Your and passwords. NOTWITHSTANDING ANYTHING TO THE CONTRARY HEREIN, rackemail HAS NO
                            LIABILITY OF ANY KIND (WHETHER BY CONTRACT, TORT OR OTHERWISE) FOR ANY UNAUTHORIZED ACCESS
                            TO YOUR OR YOUR USERS' ACCOUNTS AS A RESULT OF YOUR ACTIONS OR INACTIONS.</li>
                    </ul>
                    <h5>Rackemail Intellectual Property</h5>
                    <p class="text-justify">You acknowledge that rackemail and all technology and other materials
                        relating thereto, excluding
                        the Content (collectively, the “rackemail Technology”) are protected by copyrights, trademarks,
                        trade secrets, patents, or other proprietary rights, and that these worldwide rights are valid
                        and protected in all forms, media, and technologies existing now and hereinafter developed. You
                        also acknowledge that the rackemail Technology is and shall remain the property of us or our
                        licensors. You agree to comply with all intellectual property laws and you shall not encumber
                        any interest in, or assert any rights to, any portion of the rackemail Technology. You may not
                        modify, transmit, participate in the sale or transfer of, create derivative works based on, or
                        reverse engineer any of the rackemail Technology, or use the Service or any of the rackemail
                        Technology other than as expressly permitted herein.</p>

                    <h5>Security</h5>
                    <p class="text-justify">Rackemail shall use commercially reasonable efforts to maintain appropriate
                        administrative,
                        physical and technical safeguards for protection of the security, confidentiality and integrity
                        of your Content. rackemail shall not: (a) modify or access your Content except as necessary to
                        provide the Services, prevent or resolve service or technical problems, or at Your request in
                        connection with customer-support matters; or (b) disclose your Content except as compelled by
                        Law or other legal proceedings, or as expressly permitted in writing by You.</p>

                    <h5>Disclaimers and Limitations of Liability</h5>
                    <p class="text-justify">YOU ACKNOWLEDGE AND AGREE THAT THE SERVICE AND ALL rackemail TECHNOLOGY IS
                        PROVIDED ON AN “AS IS”
                        AND “AS AVAILABLE” BASIS. NONE OF THE rackemail PARTIES MAKE ANY, AND EACH HEREBY SPECIFICALLY
                        DISCLAIMS, ANY AND ALL, REPRESENTATIONS, ENDORSEMENTS, GUARANTEES, AND WARRANTIES, EXPRESS OR
                        IMPLIED, REGARDING THE SERVICE AND THE rackemail TECHNOLOGY, INCLUDING WITHOUT LIMITATION, THE
                        IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, TITLE AND
                        NON-INFRINGEMENT OF THIRD-PARTY RIGHTS. YOUR SOLE AND EXCLUSIVE REMEDY FOR DISSATISFACTION WITH
                        THE SERVICE OR THE rackemail TECHNOLOGY IS TO STOP USING THE SAME. NONE OF THE rackemail PARTIES
                        GUARANTEES THE ACCURACY, COMPLETENESS, TIMELINESS, RELIABILITY, SUITABILITY OR USEFULNESS OF THE
                        SERVICE OR ANY rackemail TECHNOLOGY. NONE OF THE rackemail PARTIES WARRANT THAT THE SERVICE OR
                        THE rackemail TECHNOLOGY WILL BE UNINTERRUPTED OR ERROR FREE OR THAT ANY FILES AVAILABLE FOR
                        DOWNLOADING THROUGH THE SERVICE ARE FREE OF COMPUTER VIRUSES OR OTHER HARMFUL ELEMENTS. YOU
                        EXPRESSLY AGREE THAT THE ENTIRE RISK AS TO THE QUALITY AND PERFORMANCE OF THE SERVICE AND THE
                        rackemail TECHNOLOGY IS ASSUMED SOLELY BY YOU.</p>

                    <p class="text-justify">WE SHALL NOT BE IN BREACH OF THIS AGREEMENT OR RESPONSIBLE FOR DAMAGES
                        CAUSED BY DELAYS OR
                        FAILURE TO PERFORM, IN FULL OR IN PART, OUR OBLIGATIONS HEREUNDER, PROVIDED THAT SUCH DELAY OR
                        FAILURE IS DUE TO FIRE, EARTHQUAKE, UNUSUALLY SEVERE WEATHER, STRIKES, GOVERNMENT SANCTIONED
                        EMBARGO, FLOOD, ACT OF GOD, ACT OF WAR OR TERRORISM, ACT OF ANY PUBLIC AUTHORITY OR SOVEREIGN
                        GOVERNMENT, CIVIL DISORDER, DELAY OR DESTRUCTION CAUSED BY PUBLIC CARRIER, OR ANY OTHER
                        CIRCUMSTANCE REASONABLY BEYOND OUR CONTROL, INCLUDING, WITHOUT LIMITATION, OUTAGES OR PROBLEMS
                        WITH THIRD PARTY SERVERS.</p>

                    <p class="text-justify">IN NO EVENT SHALL ANY OF THE rackemail PARTIES BE LIABLE FOR ANY DIRECT,
                        INDIRECT, PUNITIVE,
                        INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR RELATING TO THE SERVICE, ANY
                        rackemail TECHNOLOGY, OR ANY CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER
                        LEGAL THEORY. IN THE EVENT ANY JURISDICTION DOES NOT ALLOW ANY EXCLUSION OR LIMITATION OF
                        LIABILITY SET FORTH HEREIN, IN SUCH JURISDICTION, THE LIABILITY OF THE rackemail PARTIES IS
                        LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW.</p>

                    <h5>Indemnification</h5>
                    <p class="text-justify">You shall indemnify, defend and hold harmless the rackemail Parties from any
                        and all third party
                        claims and related losses, liability, damages and/or costs (including attorneys' fees and costs)
                        arising from (i) any Content, (ii) your use of the Services, or (iii) breach by you or your
                        Content of any Law or this Agreement. We shall indemnify, defend and hold you harmless from any
                        and all third party claims and related losses, liability, damages and/or costs (including
                        attorneys’ fees and costs) arising from an allegation that the rackemail Technology infringes or
                        misappropriates any third party intellectual property right.</p>

                    <h5>Term & Termination</h5>
                    <p class="text-justify">This Agreement shall continue in full force and effect until terminated in
                        accordance with the
                        terms set forth herein. We reserve the right, in our sole discretion, to restrict, suspend, or
                        terminate this Agreement and your access to the Service, at any time and for any reason without
                        prior notice or liability. We reserve the right to change, suspend, or discontinue all or any
                        part of the Service at any time without prior notice or liability. You may terminate this
                        Agreement at any time upon at least thirty (30) days prior written notice to us.</p>

                    <h5>Miscellaneous</h5>
                    <p class="text-justify">In the event that any portion of this Agreement is held to be invalid or
                        unenforceable, then such
                        portion shall be construed in accordance with the applicable law as nearly as possible to
                        reflect the original intentions of the parties, and the remainder of this Agreement shall remain
                        in full force and effect. The sections of this Agreement entitled Intellectual Property Rights,
                        Disclaimer and Limitations of Liability, Indemnification and Miscellaneous shall survive the
                        termination of this Agreement. The paragraph headings herein are provided only for reference and
                        shall have no effect on the construction or interpretation of this Agreement. You may not assign
                        this Agreement. No waiver shall be effective unless in writing. This Agreement shall be governed
                        by and construed in accordance with the laws of the State of California. Except for proceedings
                        commenced by us to protect our intellectual property or confidential information which may be
                        brought in any court of competent jurisdiction, the parties mutually agree that any and all
                        disputes arising hereunder shall be resolved as per this Agreement.</p>
                </div>
            </div>
        </div>
    </section>

</div>