<div class="main">
        
    <!--page header section start-->
    <section class="page-header-section ptb-100 gradient-overly-right" style="background: url('assets/img/hero-bg5.jpg')no-repeat center center / cover">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-6">
                    <div class="page-header-content text-white">
                        <h1 class="text-white mb-2">Market Research</h1>
                        <p class="lead">Rackemail provides market research firms with tools to efficiently manage email communications, gather insights, and engage with respondents.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--page header section end-->
    
    
    <section id="" class="feature-tab-section ptb-60 white-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-12 order-lg-last align-self-center">
                    <div class="image-box fadein text-xl-right text-center animate__animated animate__fadeInRight">
                        <img src="assets/img/fe/img-27.jpg" alt="" class="img-fluid" />
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-12 pt-40 order-xl-first animate__animated animate__fadeInLeft">
                    <h3>Benefits for Market Research Industry</h3>                                       
                    <ul class="disc-style">
                        <li><h6>Survey Distribution:</h6>
                            <ul>
                                <li>Distribute surveys to targeted segments using Rackemail’s bulk email automation. Personalize survey invitations to increase response rates.</li>
                                <li>Schedule follow-up emails to remind respondents to complete surveys.</li>
                            </ul>
                        </li>
                        <li><h6>Data Collection:</h6>
                            <ul>
                                <li>Use automated emails to collect data from respondents. Hyper-personalize follow-ups based on previous responses to gather more detailed insights.</li>
                                <li>Manage all respondent communication from a unified inbox for better organization.</li>
                            </ul>
                        </li>
                        <li><h6>Report Distribution:</h6>
                            <ul>
                                <li>Distribute research findings to clients and stakeholders through personalized emails. Automate the delivery of these reports to ensure timely communication.</li>
                                <li>Use merge tags to personalize each report email with client-specific insights.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>        


</div>