<div class="main">
        
    <!--page header section start-->
    <section class="page-header-section ptb-100 gradient-overly-right" style="background: url('assets/img/hero-bg5.jpg')no-repeat center center / cover">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-6">
                    <div class="page-header-content text-white">
                        <h1 class="text-white mb-2">Lead Generation</h1>
                        <p class="lead">In the lead generation industry, timely and effective communication is key to converting prospects into clients. Rackemail offers powerful tools to streamline email campaigns, enhance personalization, and improve response rates, making it an invaluable asset for businesses focused on generating leads.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--page header section end-->
    
    <section id="features" class="feature-tab-section ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="feature-content-wrap">
                        <ul class="nav nav-tabs feature-tab border-bottom-0 mb-5" data-tabs="tabs">
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gray-light-bg active" href="#tab6-1" data-toggle="tab">
                                    <h6 class="mb-0"></h6>
                                </a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gray-light-bg" href="#tab6-2" data-toggle="tab">
                                    <h6 class="mb-0"></h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gray-light-bg" href="#tab6-3" data-toggle="tab">
                                    <h6 class="mb-0"></h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gray-light-bg" href="#tab6-4" data-toggle="tab">
                                    <h6 class="mb-0"></h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gray-light-bg" href="#tab6-5" data-toggle="tab">
                                    <h6 class="mb-0"></h6>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content feature-tab-content">
                            <div class="tab-pane active" id="tab6-1">
                                <div class="row">
                                    <div class="col-xl-8 col-lg-9 col-12 order-xl-first">
                                        <h3></h3>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab6-2">
                                <div class="row">
                                    <div class="col-xl-8 col-lg-9 col-12 order-xl-first">
                                        <h3></h3>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab6-3">
                                <div class="row">
                                    <div class="col-xl-8 col-lg-9 col-12 order-xl-first">
                                        <h3></h3>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab6-4">
                                <div class="row">
                                    <div class="col-xl-8 col-lg-9 col-12 order-xl-first">
                                        <h3></h3>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab6-5">
                                <div class="row">
                                    <div class="col-xl-8 col-lg-9 col-12 order-xl-first">
                                        <h3></h3>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <section id="" class="feature-tab-section ptb-60 white-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-12 order-lg-last align-self-center">
                    <div class="image-box fadein text-xl-right text-center animate__animated animate__fadeInRight">
                        <img src="assets/img/fe/img-01.jpg" alt="" class="img-fluid" />
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-12 pt-40 order-xl-first animate__animated animate__fadeInLeft">
                    <h3>Benefits for Lead Generation Industry</h3>                                       
                    <ul class="disc-style">
                        <li><h6>Client Communication:</h6>
                            <ul>
                                <li>Maintain regular communication with clients about project updates and deliverables. Automate follow-ups to ensure clients are kept informed.</li>
                                <li>Use hyper-personalization to address clients by name and reference their specific project requirements.</li>
                            </ul>
                        </li>
                        <li><h6>Project Management:</h6>
                            <ul>
                                <li>Send automated updates and reports to clients about project progress. Use personalized emails to provide detailed insights and gather feedback.</li>
                                <li>Manage all project-related communication from a unified inbox to ensure timely responses.</li>
                            </ul>
                        </li>
                        <li><h6>Internal Coordination:</h6>
                            <ul>
                                <li>Improve internal communication among team members. Manage all internal emails from a unified inbox to ensure everyone is updated about project status.</li>
                                <li>Share DND and bounce lists to maintain clean and effective communication channels.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>        


</div>