<div class="main">
        
    <!--page header section start-->
    <section class="page-header-section ptb-100 gradient-overly-right" style="background: url('assets/img/hero-bg5.jpg')no-repeat center center / cover">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-6">
                    <div class="page-header-content text-white">
                        <h1 class="text-white mb-2">Sales</h1>
                        <p class="lead">Rackemail enhances sales team efficiency by automating communication, managing leads, and improving follow-up processes.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--page header section end-->
    
    
    <section id="" class="feature-tab-section ptb-60 white-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-12 order-lg-last align-self-center">
                    <div class="image-box fadein text-xl-right text-center animate__animated animate__fadeInRight">
                        <img src="assets/img/fe/img-16.jpg" alt="" class="img-fluid" />
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-12 pt-40 order-xl-first animate__animated animate__fadeInLeft">
                    <h3>Benefits for Sales Teams</h3>                                       
                    <ul class="disc-style">
                        <li><h6>Lead Communication:</h6>
                            <ul>
                                <li>Send personalized emails to leads about updates, services, and important announcements. Automate follow-ups to ensure leads are well-informed.</li>
                                <li>Use hyper-personalization to address leads by name and reference their specific needs.</li>
                            </ul>
                        </li>
                        <li><h6>Lead Management:</h6>
                            <ul>
                                <li>Manage lead-related communication efficiently. Send automated updates and reports to leads to keep them informed about their status.</li>
                                <li>Use a unified inbox to manage all lead communication from one place.</li>
                            </ul>
                        </li>
                        <li><h6>Follow-Up Processes:</h6>
                            <ul>
                                <li>Automate follow-up emails to ensure timely communication with leads. Use personalized content to increase engagement and conversion rates.</li>
                                <li>Track follow-up performance with detailed analytics to optimize future efforts.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>        


</div>