


<div class="main">
    <!--hero section start-->
    <section class="hero-equal-height ptb-30">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-lg-8 col-12">
                    <div class="hero-content-wrap mt-lg-3 mt-md-3 text-center animate__animated animate__fadeInUp">
                        <h6 class="bg-home">Connect unlimited email accounts at no extra cost</h6>
                        <h3><img src="assets/img/logo-color.png" height="50" class="pt-2" alt="logo" /><!--Rack<span class="text-primary">eMail</span>--></h3>
                        <h1>⇒ To Send <span class="text-primary">Bulk / Cold Email</span><br>⇒ To Get More Replies…</h1>
                        <p>"With Rackemail, Connect unlimited email accounts and launch personalized cold and bulk email campaigns. Enjoy full automated, controlled sending, and a unified inbox to boost replies and turn prospects into customers.</p>
                        <!--div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                            </div>
                        </div-->
                        <form action="" class="domain-search-form mt-3 mb-3">
                            <div class="input-group">
                                <input type="text" name="" id="" class="form-control" placeholder="Enter Email Address" />
                                <div class="input-group-append">
                                    <button class="btn search-btn btn-hover d-flex align-items-center" type="submit">
                                         Get Started
                                    </button>
                                </div>
                            </div>
                        </form>
                        <p>7-days free trial | No credit card required!</p>
                        <h6>WORKS WITH GMAIL, OUTLOOK OR ANY OTHER INBOX</h6>
                        <h6><span class="text-primary">RackeMail</span> : 
                        <!--img src="assets/img/logo-color.png" width="" alt="logo" class="img-fluid" /-->
                        Your one-stop solution for cold email leads generation</h6>
                    </div>
                </div>
            </div>
        </div>
        <svg id="promo-shape" class="promo-bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 411.47" preserveAspectRatio="xMinYMin meet">
            <path d="M0,411.47V117.94s.35-1.06.53-1.59Q4,106.5,12.08,101.86l91.32-52.7,9.91-5.72L183.75,2.78c5.6-4.16,16.32-3,16.25-.76l-.07,12.78V411.47Z" style="fill: #f5f5f5"></path>
        </svg>
    </section>
    <!--hero section end-->

    <section class="feature-tab-section ptb-80 white-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="feature-content-wrap">
                        <ul class="nav nav-tabs feature-tab border-bottom-0 mb-3" data-tabs="tabs">
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gray-light-bg active" href="#tab6-1" data-toggle="tab">
                                    <img src="assets/img/email-1.png" width="40" alt="" class="mr-2" />
                                    <h6 class="mb-0">Unlimited Email Accounts</h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gray-light-bg" href="#tab6-2" data-toggle="tab">
                                    <img src="assets/img/email-1.png" width="40" alt="" class="mr-2" />
                                    <h6 class="mb-0">Bulk / Cold Email Automation</h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gray-light-bg" href="#tab6-3" data-toggle="tab">	
                                    <img src="assets/img/email-1.png" width="40" alt="" class="mr-2" />
                                    <h6 class="mb-0">Hyper Personalization</h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gray-light-bg" href="#tab6-4" data-toggle="tab">
                                    <img src="assets/img/email-1.png" width="40" alt="" class="mr-2" />
                                    <h6 class="mb-0">Contact</h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gray-light-bg" href="#tab6-5" data-toggle="tab">
                                    <img src="assets/img/email-1.png" width="40" alt="" class="mr-2" />
                                    <h6 class="mb-0">B-List</h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gray-light-bg" href="#tab6-6" data-toggle="tab">
                                    <img src="assets/img/email-1.png" width="40" alt="w" class="mr-2" />
                                    <h6 class="mb-0">Unified Inbox</h6>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content feature-tab-content">
                            <div class="tab-pane active" id="tab6-1">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-12 order-lg-last align-self-center">
                                        <div class="image-box fadein text-xl-right text-center animate__animated animate__fadeInRight">
                                            <img src="assets/img/img-01.jpg" alt="" class="img-fluid" />
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-12 pt-40 order-xl-first animate__animated animate__fadeInLeft">
                                        <h3>Unlimited Email Accounts</h3>                                            
                                        <ul class="disc-style">
                                            <li>Connect Multiple Emails</li>
                                            <li>Gmail, G-suit,</li>
                                            <li>Outlook, Office365, Hotmail,</li>
                                            <li>Any Email via IMAP & SMTP</li>
                                        </ul>
                                        <a href="fet-UnlimitedEmail.php" class="btn outline-btn">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab6-2">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-12 order-lg-last align-self-center">
                                        <div class="image-box fadein text-xl-right text-center animate__animated animate__fadeInRight">
                                            <img src="assets/img/img-02.jpg" alt="" class="img-fluid" />
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-12 pt-40 order-xl-first animate__animated animate__fadeInLeft">
                                        <h3>Bulk / Cold Email Automation</h3>                                            
                                        <ul class="disc-style">
                                            <li>Hyper-personalized follow-ups to boost reply rates.</li>
                                            <li>Reusable templates for new recipients.</li>
                                            <li>Schedule mail merges or campaigns anytime.</li>
                                            <li>Automate follow-ups until recipients reply or open.</li>
                                        </ul>
                                        <a href="fet-BulkcoldEmail.php" class="btn outline-btn">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab6-3">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-12 order-lg-last align-self-center">
                                        <div class="image-box fadein text-xl-right text-center animate__animated animate__fadeInRight">
                                            <img src="assets/img/img-03.jpg" alt="" class="img-fluid" />
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-12 pt-40 order-xl-first animate__animated animate__fadeInLeft">
                                        <h3>Hyper Personalization</h3>                                            
                                        <ul class="disc-style">
                                            <li>On a Bulk campaign address each recipient with hyper personalization </li>
                                            <li>25+ custom merge tags to personalize your emails</li>
                                            <li>No more Hi First_Name or any?</li>
                                        </ul>
                                        <a href="fet-HyperPersonl.php" class="btn outline-btn">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab6-4">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-12 order-lg-last align-self-center">
                                        <div class="image-box fadein text-xl-right text-center animate__animated animate__fadeInRight">
                                            <img src="assets/img/img-04.jpg" alt="" class="img-fluid" />
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-12 pt-40 order-xl-first animate__animated animate__fadeInLeft">
                                        <h3>Contact</h3>                                            
                                        <ul class="disc-style">
                                            <li>Upload or Add contacts to send multiple campaigns</li>
                                            <li>Store with Custom Merge Tags for Hyper Personalization</li>
                                            <li>Create a Group Name for list of contacts</li>
                                        </ul>
                                        <a href="fet-ContactManagement.php" class="btn outline-btn">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab6-5">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-12 order-lg-last align-self-center">
                                        <div class="image-box fadein text-xl-right text-center animate__animated animate__fadeInRight">
                                            <img src="assets/img/img-05.jpg" alt="" class="img-fluid" />
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-12 pt-40 order-xl-first animate__animated animate__fadeInLeft">
                                        <h3>B-List</h3>                                            
                                        <ul class="disc-style">
                                            <li>Add an Individual or a Domain to DND list</li>
                                            <li>Share or receive your Team’s DND List</li>
                                            <li>Bounced List can be synced with your Team</li>
                                        </ul>
                                        <a href="fet-BlistManagement.php" class="btn outline-btn">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab6-6">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-12 order-lg-last align-self-center">
                                        <div class="image-box fadein text-xl-right text-center animate__animated animate__fadeInRight">
                                            <img src="assets/img/img-06.jpg" alt="" class="img-fluid" />
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-12 pt-40 order-xl-first animate__animated animate__fadeInLeft">
                                        <h3>Unified Inbox</h3>                                            
                                        <ul class="disc-style">
                                            <li>Manage all your inboxes from one place</li>
                                            <li>View All emails or only replies of your campaign</li>
                                            <li>Reply from a single inbox</li>
                                        </ul>
                                        <a href="fet-UnifiedInbox.php" class="btn outline-btn">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="call-to-action ptb-60 gradient-overly-bottom" style="background: url('assets/img/hero-bg7.jpg')no-repeat center center / cover">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-9">
                    <div class="call-to-action-content text-white text-center">
                        <h2 class="text-white">Need Some Help?</h2>
                        <p class="lead mb-0">Whether you’re stuck or just want some tips on where to start, hit up our
                            experts anytime.</p>
                        <p>Sales Chat: <strong> MON-FRI 8AM-4PM PT</strong> | Customer Support Chat: Every Day <strong>
                            5:30AM–9:30PM PT</strong></p>
                        <div class="action-btns">
                            <a href="#" class="btn solid-white-btn mr-3">Chat With Us</a>
                            <a href="#" class="btn outline-white-btn">Send us an Email</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>