<nav>
    <a routerLink="/Pricing">Pricing</a><br>
    <a routerLink="/ComputerSoftware">ComputerSoftware</a><br>
    <a routerLink="/Home">Home</a><br>
    <a routerLink="/HigherEducation">HigherEducation</a><br>
    <a routerLink="/HumanResources">HumanResources</a><br>
    <a routerLink="/InformationServices">InformationServices</a><br>
    <a routerLink="/InformationTechnologyandServices">InformationTechnologyandServices</a><br>
    <a routerLink="/Internet">Internet</a><br>
    <a routerLink="/ManagementConsulting">ManagementConsulting</a><br>
    <a routerLink="/MarketResearch">MarketResearch</a><br>
    <a routerLink="/MarketingandAdvertising">MarketingandAdvertising</a><br>
    <a routerLink="/OutsourcingOffshoring">OutsourcingOffshoring</a><br>
    <a routerLink="/ProfessionalTrainingCoaching">ProfessionalTrainingCoaching</a><br>
    <a routerLink="/StaffingandRecruiting">StaffingandRecruiting</a><br>
    <a routerLink="/Freelancer">Freelancer</a><br>
    <a routerLink="/SelfEmployed">SelfEmployed</a><br>
    <a routerLink="/SmallBusiness">SmallBusiness</a><br>
    <a routerLink="/Startup">Startup</a><br>
    <a routerLink="/BusinessDevelopment">BusinessDevelopment</a><br>
    <a routerLink="/Humarn-Resources">HumarnResources</a><br>
    <a routerLink="/Marketing">Marketing</a><br>
    <a routerLink="/Operations">Operations</a><br>
    <a routerLink="/Research">Research</a><br>
    <a routerLink="/Sales">Sales</a><br>
    <a routerLink="/BListManagement">BListManagement</a><br>
    <a routerLink="/BulkColdEmailAutomation">BulkColdEmailAutomation</a><br>
    <a routerLink="/ContactManagement">ContactManagement</a><br>
    <a routerLink="/HyperPersonalization">HyperPersonalization</a><br>
    <a routerLink="/UnifiedInbox">UnifiedInbox</a><br>
    <a routerLink="/UnlimitedEmailAccounts">UnlimitedEmailAccounts</a><br>
    <a routerLink="/BookDemo">BookDemo</a><br>
    <a routerLink="/DemoCampaign">DemoCampaign</a><br>
    <a routerLink="/WatchDemo">WatchDemo</a><br>
    <a routerLink="/BookDemo">BookDemo</a><br>
  </nav>

