<div class="main">

    <!--page header section start-->
    <section class="page-header-section ptb-100 gradient-overly-right"
        style="background: url('assets/img/hero-bg5.jpg')no-repeat center center / cover">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-6">
                    <div class="page-header-content text-white">
                        <h1 class="text-white mb-2">Pricing</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--page header section end-->

    <section id="" class="feature-tab-section ptb-60 white-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="about-content-inner text-center">
                        <div data-toggle="buttons" class="btn-group btn-group-toggle p-3"><label for="Individual"
                                class="btn btn-secondary active showIndividual"><input type="radio" name="Individual"
                                    id="Individual" autocomplete="off" value="Individual"> Individual </label><label
                                class="btn btn-secondary showTeam"><input type="radio" name="Team" id="Team"
                                    autocomplete="off" value="Team"> Team </label></div>
                        <div data-toggle="buttons" class="btn-group btn-group-toggle p-3"><label
                                class="btn btn-secondary active showIM"><input type="radio" name="Monthly" id="Monthly"
                                    autocomplete="off" value="IM" class="cssMonthly"> Monthly </label><label
                                class="btn btn-secondary showIA"><input type="radio" name="Annually" id="Annually"
                                    autocomplete="off" value="IA" class="cssAnual">
                                Annually </label></div>
                    </div>
                    <div class="text-center teamOptions" style="display: none;">
                        <div data-toggle="buttons" class="btn-group btn-group-toggle p-3"><label
                                class="btn btn-secondary active showPlan five-user-pad"><input type="radio"
                                    name="options" id="option1" autocomplete="off" checked=""> 5 Users </label><label
                                class="btn btn-secondary showPlan1 ten-user-pad"><input type="radio" name="options"
                                    id="option2" autocomplete="off"> 10 Users </label><label
                                class="btn btn-secondary showPlan3 fifty-user-pad"><input type="radio" name="options"
                                    id="option2" autocomplete="off">
                                50 Users </label><label class="btn btn-secondary showPlan4 hundred-user-pad"><input
                                    type="radio" name="options" id="option2" autocomplete="off"> 100 Users </label>
                        </div>
                    </div>
                    <div class="tI">
                        <div class="row p-5 i-monthly tIM">
                            <div class="col-lg-3 col-md-6"></div>
                            <div class="col-lg-3 col-md-6 border pt-3 pb-3 p-0 mb-4">
                                <h3 class="free-st-pr text-center">&nbsp;</h3>
                                <h2 class="text-center"><strong>Features</strong><span class="month-year"></span></h2>
                                <div class="bg-light p-2">
                                    <div>Inbox</div>
                                </div>
                                <div class="p-2">
                                    <div>Dashboard</div>
                                </div>
                                <div class="bg-light p-2">
                                    <div>Generate Template</div>
                                </div>
                                <div class="p-2">
                                    <div>Reply / New Message</div>
                                </div>
                                <div class="bg-light p-2">
                                    <div>Footer Ads</div>
                                </div>
                                <div class="p-2">
                                    <div>No of Emails / Month</div>
                                </div>
                                <div class="bg-light p-2">
                                    <div>No of Email ID / Campaign</div>
                                </div>
                                <div class="p-2">
                                    <div>No of Follow ups / Campaign</div>
                                </div>
                                <div class="bg-light p-2">
                                    <div>No of Template</div>
                                </div>
                                <div class="text-center"></div>
                            </div>
                            <div class="col-lg-3 col-md-6 border border-info pt-3 pb-3 p-0 mb-4 text-center">
                                <h3 class="free-st-pr text-center">Gold</h3>
                                <h2 class="text-center"><strong>$
                                        30</strong><span class="month-year">/ month</span></h2>
                                <div class="bg-light p-2">
                                    <div><i aria-hidden="true" class="fa fa-check text-success tick-close-size"></i>
                                    </div>
                                </div>
                                <div class="p-2">
                                    <div><i aria-hidden="true" class="fa fa-check text-success tick-close-size"></i>
                                    </div>
                                </div>
                                <div class="bg-light p-2">
                                    <div><i aria-hidden="true" class="fa fa-check text-success tick-close-size"></i>
                                    </div>
                                </div>
                                <div class="p-2">
                                    <div><i aria-hidden="true" class="fa fa-check text-success tick-close-size"></i>
                                    </div>
                                </div>
                                <div class="bg-light p-2">
                                    <div><i aria-hidden="true" class="fa fa-times text-danger tick-close-size"></i>
                                    </div>
                                </div>
                                <div class="p-2">
                                    <div>Unlimited</div>
                                </div>
                                <div class="bg-light p-2">
                                    <div>Unlimited</div>
                                </div>
                                <div class="p-2">
                                    <div>Unlimited</div>
                                </div>
                                <div class="bg-light p-2">
                                    <div>Unlimited</div>
                                </div>
                                <div class="text-center"><a class="slider-btn theme-btn subscribe-button">Subscribe</a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6"></div>
                        </div>
                        <div class="row p-5 i-annually tIA" style="display: none;">
                            <div class="col-lg-3 col-md-6"></div>
                            <div class="col-lg-3 col-md-6 border pt-3 pb-3 p-0 mb-4">
                                <h3 class="free-st-pr text-center">&nbsp;</h3>
                                <h2 class="text-center"><strong>Features</strong><span class="month-year"></span></h2>
                                <div class="bg-light p-2">
                                    <div>Inbox</div>
                                </div>
                                <div class="p-2">
                                    <div>Dashboard</div>
                                </div>
                                <div class="bg-light p-2">
                                    <div>Generate Template</div>
                                </div>
                                <div class="p-2">
                                    <div>Reply / New Message</div>
                                </div>
                                <div class="bg-light p-2">
                                    <div>Footer Ads</div>
                                </div>
                                <div class="p-2">
                                    <div>No of Emails / Month</div>
                                </div>
                                <div class="bg-light p-2">
                                    <div>No of Email ID / Campaign</div>
                                </div>
                                <div class="p-2">
                                    <div>No of Follow ups / Campaign</div>
                                </div>
                                <div class="bg-light p-2">
                                    <div>No of Template</div>
                                </div>
                                <div class="text-center"></div>
                            </div>
                            <div class="col-lg-3 col-md-6 border border-info pt-3 pb-3 p-0 mb-4 text-center">
                                <h3 class="free-st-pr text-center">Gold</h3>
                                <h2 class="text-center"><strong>$
                                        300</strong><span class="month-year">/ year</span></h2>
                                <div class="bg-light p-2">
                                    <div><i aria-hidden="true" class="fa fa-check text-success tick-close-size"></i>
                                    </div>
                                </div>
                                <div class="p-2">
                                    <div><i aria-hidden="true" class="fa fa-check text-success tick-close-size"></i>
                                    </div>
                                </div>
                                <div class="bg-light p-2">
                                    <div><i aria-hidden="true" class="fa fa-check text-success tick-close-size"></i>
                                    </div>
                                </div>
                                <div class="p-2">
                                    <div><i aria-hidden="true" class="fa fa-check text-success tick-close-size"></i>
                                    </div>
                                </div>
                                <div class="bg-light p-2">
                                    <div><i aria-hidden="true" class="fa fa-times text-danger tick-close-size"></i>
                                    </div>
                                </div>
                                <div class="p-2">
                                    <div>Unlimited</div>
                                </div>
                                <div class="bg-light p-2">
                                    <div>Unlimited</div>
                                </div>
                                <div class="p-2">
                                    <div>Unlimited</div>
                                </div>
                                <div class="bg-light p-2">
                                    <div>Unlimited</div>
                                </div>
                                <div class="text-center"><a class="slider-btn theme-btn subscribe-button">Subscribe</a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>