<div class="main">
        
    <!--page header section start-->
    <section class="page-header-section ptb-100 gradient-overly-right" style="background: url('assets/img/hero-bg5.jpg')no-repeat center center / cover">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-6">
                    <div class="page-header-content text-white">
                        <h1 class="text-white mb-2">Marketing</h1>
                        <p class="lead">Rackemail supports marketing teams by enhancing campaign management, automating communication, and improving engagement rates.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--page header section end-->
    
    
    <section id="" class="feature-tab-section ptb-60 white-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-12 order-lg-last align-self-center">
                    <div class="image-box fadein text-xl-right text-center animate__animated animate__fadeInRight">
                        <img src="assets/img/fe/img-15.jpg" alt="" class="img-fluid" />
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-12 pt-40 order-xl-first animate__animated animate__fadeInLeft">
                    <h3>Benefits for Marketing Teams</h3>                                       
                    <ul class="disc-style">
                        <li><h6>Campaign Management:</h6>
                            <ul>
                                <li>Execute marketing campaigns with ease. Rackemail’s bulk email automation allows for personalized messaging, improving open and response rates.</li>
                                <li>Use hyper-personalization to address recipients by name and reference their specific interests.</li>
                            </ul>
                        </li>
                        <li><h6>Engagement Tracking:</h6>
                            <ul>
                                <li>Track campaign performance with detailed analytics. Understand open rates, click-through rates, and conversions to optimize future campaigns.</li>
                                <li>Conduct A/B testing to refine subject lines, content, and send times.</li>
                            </ul>
                        </li>
                        <li><h6>Internal Coordination:</h6>
                            <ul>
                                <li>Improve internal communication among team members. Manage all internal emails from a unified inbox to ensure everyone is aligned.</li>
                                <li>Share DND and bounce lists to maintain clean and effective communication channels.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>        


</div>