<div class="main">
        
    <!--page header section start-->
    <section class="page-header-section ptb-100 gradient-overly-right" style="background: url('assets/img/hero-bg5.jpg')no-repeat center center / cover">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-6">
                    <div class="page-header-content text-white">
                        <h1 class="text-white mb-2">Higher Education</h1>
                        <p class="lead">Rackemail supports higher education institutions by streamlining communication with students, faculty, and alumni, enhancing engagement and operational efficiency.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--page header section end-->
    
    
    <section id="" class="feature-tab-section ptb-60 white-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-12 order-lg-last align-self-center">
                    <div class="image-box fadein text-xl-right text-center animate__animated animate__fadeInRight">
                        <img src="assets/img/fe/img-25.jpg" alt="" class="img-fluid" />
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-12 pt-40 order-xl-first animate__animated animate__fadeInLeft">
                    <h3>Benefits for Higher Education Industry</h3>                                       
                    <ul class="disc-style">
                        <li><h6>Student Communication:</h6>
                            <ul>
                                <li>Send personalized emails to students about course updates, events, and important deadlines. Automate follow-ups to ensure students are well-informed.</li>
                                <li>Use segmentation to send targeted emails based on students’ academic interests and needs.</li>
                            </ul>
                        </li>
                        <li><h6>Faculty Coordination:</h6>
                            <ul>
                                <li>Improve communication among faculty members by managing all emails from a unified inbox. Schedule regular updates and automate reminders for faculty meetings and events.</li>
                                <li>Share important announcements and policy updates efficiently.</li>
                            </ul>
                        </li>
                        <li><h6>Alumni Engagement:</h6>
                            <ul>
                                <li>Maintain strong connections with alumni through personalized emails. Automate updates about alumni events, news, and opportunities for involvement.</li>
                                <li>Use hyper-personalization to address alumni by name and reference their time at the institution, increasing engagement.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>        


</div>