<div class="main">

    <section class="page-header-section ptb-100 gradient-overly-right"
        style="background: url('assets/img/hero-bg5.jpg')no-repeat center center / cover">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-6">
                    <div class="page-header-content text-white">
                        <h1 class="text-white mb-2">Acceptable Use Policy</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="" class="feature-tab-section ptb-60 white-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-12 pt-40 order-xl-first animate__animated animate__fadeInLeft">
                    <h3>Acceptable Use Policy & Anti-Spam</h3>
                    <h5>Policy Details</h5>
                    <ul>
                        <li>As a customer of rackemail you agree to comply with rackemail's Terms of Service, Privacy
                            Policy, and abide by this AUP which governs the use of our service in respect of permission
                            and
                            acceptable use.</li>

                        <li>You must have permission to email the recipient when using our service to send bulk
                            campaigns.
                            All messages must comply with all applicable laws and regulations where you or rackemail
                            operates or the recipient of your message is located.</li>

                        <li>The following practices are not permitted from our service and would be a violation of this
                            policy, they are provided as examples, are subject to change and should not be considered
                            exhaustive.</li>

                        <li>Failing to provide an opt out method in any commercial message or failing to comply with
                            applicable law and your internal policies to any request by a recipient not be contacted.
                        </li>

                        <li>Failing to include your valid physical mailing address or a link to that information.</li>

                        <li>Sending from group/distribution lists or role email addresses including Info@ hello@
                            success@
                            sales@ or similar.</li>

                        <li>Sending emails from a fictional identity or using a pseudonym, assumed identity or alias.
                        </li>

                        <li>Sending emails that generate an unacceptable number of bounces.</li>

                        <li>Attempting to hide the number of bounces resulting from activity coming from Outreach.</li>

                        <li>Sending email that results in an unacceptable number of spam or UCE complaints (even if the
                            messages themselves are not actually spam or UCE).</li>

                        <li>Attempting to disguise the origin or subject matter of any message or falsifying or
                            manipulating
                            the originating email address, subject line, headers, or transmission path.</li>

                        <li>Transmitting any material that contains or links to viruses, Trojan horses, worms or any
                            other
                            malicious, harmful, or deleterious program, software or application.</li>

                        <li>Using the rackemail Services in connection with any unsolicited or harassing messages
                            (commercial or otherwise) including but not limited to unsolicited or unwanted phone calls
                            SMS
                            or text messages, voice mail, or faxes.</li>

                        <li>If you know of or suspect any violations of this Policy, please notify rackemail at
                            abuse@rackemail.com rackemail will determine compliance with this Policy at its sole
                            discretion.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>