<div class="main">

    <!--page header section start-->
    <section class="page-header-section ptb-100 gradient-overly-right"
        style="background: url('assets/img/hero-bg5.jpg')no-repeat center center / cover">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-6">
                    <div class="page-header-content text-white">
                        <h1 class="text-white mb-2">Watch a Demo</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--page header section end-->

    <section id="" class="feature-tab-section ptb-60 white-bg">
        <div class="container">
        </div>
    </section>

</div>